<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petmarket2020">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- CAMERA (Truy cập camera) -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- READ_EXTERNAL_STORAGE (Truy cập ảnh QR từ thư viện) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera.autoFocus" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/AppName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="true"
        android:allowBackup="true">
        <activity android:name=".WebviewPaymentActivity"></activity>
        <activity android:name=".Views.LocationActivity" />
        <activity android:name=".Views.RegisterActivity">
            // first
        </activity>
        <activity android:name=".Views.Register2ndActivity" />
        <activity android:name=".Views.SuccessfullyActivity" />
        <activity
            android:name=".Views.PostActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Views.HomeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Views.LoginActivity" />

        <receiver
            android:name=".Broadcast.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Views.CoinsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>